body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(ji.jpg);
    
    
}
header {
    background: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #d8d5d5;
}

nav a {
    color: rgb(7, 1, 1);
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
}

nav a:hover {
    background: #bdb5b5;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
    border: #cd1818;
    color: #e8e3e3;
}

form input, form textarea, form button {
    padding: 10px;
    border: 3px solid #080606;
    border-radius: 5px;
    background: none;
    
    
}

div h2 {
    color: #000000;
    justify-items: center;
    text-align: center;
    font-size: xx-large;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    justify-items: center;
    
    
    
}

button{
    color: #fff;
    font-size: larger;
}
input::placeholder{
    color: rgb(255, 255, 255);
    font-size: larger;
}

textarea::placeholder{
    color: #f4f4f4;
    font-size: larger;
}


